@page "/blogs/info/{BlogInfoId:guid}"
@layout BlogFrontLayout
@inherits BlogFrontComponentBase
@using TinyMCE.Blazor

<MCard Width="1600" Class="mx-auto mt-5 ">
    <MTabsItems>
        <MTabItem>
            <MCard Flat>
                <MRow>
                    <MCol Cols="10">
                        <MCardText><h5>@_blogInfo.title</h5></MCardText>
                    </MCol>
                    <MSpacer></MSpacer>
                    <MCol Cols="2" Class="mt-5">
                        <MButton Color="primary" OnClick="ToReport">举报</MButton>
                    </MCol>
                </MRow>
            </MCard>
        </MTabItem>
    </MTabsItems>
    <MDivider></MDivider>
    <MCard>
        <MCardText>@((MarkupString)_blogInfo.content)</MCardText>
        <MCardActions>
            <p>
                <MIcon>mdi-comment-processing</MIcon> <span>@_blogInfo.commentCount</span>
                <MButton Icon OnClick="ToApprove">
                    <MIcon>mdi-thumb-up</MIcon>
                </MButton>
                <span>@_blogInfo.approvedCount</span>
                <MIcon>mdi-eye</MIcon> <span>@_blogInfo.visits</span>
            </p>
        </MCardActions>
    </MCard>
    <MDivider></MDivider>
</MCard>

@if (_blogCommentInfoList.TotalCount > 0)
{
    <MCard Width="1600" Class="mx-auto mt-3">
        <MCardTitle>评论列表</MCardTitle>
        @foreach (var comment in _blogCommentInfoList.Data)
        {
            <MListItem TwoLine>
                <MListItemContent>
                    <MListItemTitle>@comment.CreationTime.ToString("yyyy-MM-dd HH:mm")</MListItemTitle>
                    <MListItemSubtitle>@comment.CommentContent</MListItemSubtitle>
                </MListItemContent>
            </MListItem>
            @if (comment.ReplyInfo is not null && comment.ReplyInfo.CreationTime > DateTime.MinValue)
            {
                <MExpansionPanels @bind-Values="_panel" Disabled>
                    <MExpansionPanel @key="comment.Id">
                        <MExpansionPanelHeader>
                            回复
                        </MExpansionPanelHeader>
                        <MExpansionPanelContent>

                            <MListItem TwoLine>
                                <MListItemContent>
                                    <MListItemTitle>@comment.ReplyInfo.CreationTime.ToString("yyyy-MM-dd HH:mm")</MListItemTitle>
                                    <MListItemSubtitle>@comment.ReplyInfo.CommentContent</MListItemSubtitle>
                                </MListItemContent>
                            </MListItem>
                        </MExpansionPanelContent>
                    </MExpansionPanel>
                </MExpansionPanels>

            }
            else
            {
                <MExpansionPanels>
                    <MExpansionPanel @key="comment.Id">
                        <MExpansionPanelHeader>
                            回复
                        </MExpansionPanelHeader>
                        <MExpansionPanelContent>
                            <MCard>
                                <MCardTitle>发表回复</MCardTitle>
                                <MCardText>
                                    <MCol Cols="12">
                                        <MTextarea @bind-Value="_reportComment">
                                        </MTextarea>
                                    </MCol>
                                </MCardText>
                                <MCardActions>
                                    <MSpacer></MSpacer>
                                    <MButton Color="primary" Loading="_reportCommentLoading" OnClick="async()=>await ToReportComment(comment.Id)">发表回复</MButton>
                                </MCardActions>
                            </MCard>
                        </MExpansionPanelContent>
                    </MExpansionPanel>
                </MExpansionPanels>
            }

            <MDivider></MDivider>
        }
        <div class="text-center">
            <MContainer>
                <MRow Justify="JustifyTypes.Center">
                    <MCol Cols="8">
                        <MContainer Class="max-width">
                            <MPagination @bind-Value="_page" Class="my-4" Length=@_pageCount></MPagination>
                        </MContainer>
                    </MCol>
                </MRow>
            </MContainer>
        </div>
    </MCard>
}

<MCard Width="1600" Class="mx-auto">
    <MCardTitle>发表评论</MCardTitle>
    <MCardText>
        <MCol Cols="12">
            <MTextarea @bind-Value="_reportComment">
            </MTextarea>
        </MCol>
    </MCardText>
    <MCardActions>
        <MSpacer></MSpacer>
        <MButton Color="primary" Loading="_reportCommentLoading" OnClick="async()=>await ToReportComment()">发表评论</MButton>
    </MCardActions>
</MCard>

<FormModal Visible="_showWrite"
           Title="举报"
           Width="1000"
           OnCancel="Cancel"
           OnOk="async()=>await SubmitReport()"
           Model="_createBlogReportModel">
    <MRow>
        <MCol Cols="12">
            <MTextField TValue="string" Dense Outlined HideDetails="@("auto")"
                        Label="标题" Clearable Readonly
                        @bind-Value="_createBlogReportModel.Title" />
        </MCol>
        <MCol Cols="12">
            <MRadioGroup @bind-Value="_createBlogReportModel.Reason" Row TValue=ReasonTypes>
                <LabelContent>
                    举报原因
                </LabelContent>
                <ChildContent>
                    @foreach (var item in Enum<ReasonTypes>.GetEnumObjectList<ReasonTypes>())
                    {
                        <MRadio Value="@item.Value" Label=@item.Name TValue="ReasonTypes"></MRadio>
                    }
                </ChildContent>
            </MRadioGroup>
        </MCol>
        <MCol Cols="12">
            <MTextField TValue="string" Dense Outlined HideDetails="@("auto")"
                        Label="链接" Readonly
                        @bind-Value="_createBlogReportModel.Connect" />
        </MCol>
        <MCol Cols="12">
            <MTextField TValue="string" Dense Outlined HideDetails="@("auto")"
                        Label="详细信息" Clearable
                        @bind-Value="_createBlogReportModel.Detail" />
        </MCol>
    </MRow>
</FormModal>