@page "/blogs"
@layout BlogFrontLayout
@inherits BlogFrontComponentBase

<MCard Width="1200" Class="mx-auto">
    <MTabsItems>
        <MTabItem>
            <MCard Flat>
                <MRow>
                    <MCol>
                        <MCardText><h5>最新博文</h5></MCardText>
                    </MCol>
                    <MSpacer></MSpacer>
                    <MCol><MButton Color="primary" OnClick="ToWrite">写文章</MButton></MCol>
                </MRow>
            </MCard>
        </MTabItem>
    </MTabsItems>

    <MDivider></MDivider>
    @if (Blogs.Data is not null)
    {
        @foreach (var blog in Blogs.Data)
        {
            <MCard>
                <MCardTitle>@blog.Title</MCardTitle>
                <MCardText> @blog.Content.Substring(0, 50) </MCardText>
                <MCardActions>
                    <p>
                       @* <MAvatar Color="primary" Size="56">
                            <span class="white--text">@blog.typeName</span>
                        </MAvatar>*@
                        <span>@blog.ReleaseTime.ToString("yyyy-MM-dd HH:mm")</span>
                            <span>【@blog.】</span>
                        <MIcon>mdi-thumb-up</MIcon> <span>@blog.ApprovedCount</span>
                        <MIcon>mdi-comment-processing</MIcon> <span>@blog.CommentCount</span>
                        <MIcon>mdi-eye</MIcon> <span>@blog.Visits</span>
                    </p>
                </MCardActions>
            </MCard>
            <MDivider></MDivider>
        }

    }
    <div class="text-center">
        <MContainer>
            <MRow Justify="JustifyTypes.Center">
                <MCol Cols="8">
                    <MContainer Class="max-width">
                        <MPagination @bind-Value="@Blogs.Page" Class="my-4" Length=@_pageCount></MPagination>
                    </MContainer>
                </MCol>
            </MRow>
        </MContainer>
    </div>
</MCard>

<Write Show="@_showWrite" ></Write>