@page "/blogs"
@layout BlogFrontLayout
@inherits BlogFrontComponentBase
@using TinyMCE.Blazor

<MCard Width="1200" Class="mx-auto mt-5">
    <MTabsItems>
        <MTabItem>
            <MCard Flat>
                <MRow>
                    <MCol>
                        <MCardText><h5>最新博文</h5></MCardText>
                    </MCol>
                    <MSpacer></MSpacer>
                    <MCol><MButton Color="primary" OnClick="ToWrite">写文章</MButton></MCol>
                </MRow>
            </MCard>
        </MTabItem>
    </MTabsItems>

    <MDivider></MDivider>
    @if (Blogs.Data is not null)
    {
        @foreach (var blog in Blogs.Data)
        {
            <MCard>
                <MCardTitle>@blog.Title</MCardTitle>
                <MCardText> @($"{(blog.Content.Length > 50 ? blog.Content.Substring(0, 50) : blog.Content)}") </MCardText>
                <MCardActions>
                    <p>
                       @* <MAvatar Color="primary" Size="56">
                            <span class="white--text">@blog.typeName</span>
                        </MAvatar>*@
                        <span>@blog.ReleaseTime.ToString("yyyy-MM-dd HH:mm")</span>
                           @* <span>【@blog.CreatorUserId】</span>*@
                    </p>
                </MCardActions>
            </MCard>
            <MDivider></MDivider>
        }

    }
    <div class="text-center">
        <MContainer>
            <MRow Justify="JustifyTypes.Center">
                <MCol Cols="8">
                    <MContainer Class="max-width">
                        <MPagination @bind-Value="@Blogs.Page" Class="my-4" Length=@_pageCount></MPagination>
                    </MContainer>
                </MCol>
            </MRow>
        </MContainer>
    </div>
</MCard>

<FormModal Visible="_showWrite"
           Title="文章"
           Width="1000"
           OnCancel="Cancel"
           OnOk="SubmitBlog"
           Model="_options">
    <MRow>
        <MCol Cols="12">
            <MTextField TValue="string" Dense Outlined HideDetails="@("auto")"
                        Label="标题" Clearable
                        @bind-Value="_options.Title"/>
        </MCol>
        <MCol Cols="12">
            <MSelect Label="类别"
                         @bind-Value="_options.TypeId"
                         Items="_typeList"
                         ItemText="x => x.Item2"
                         ItemValue="x => x.Item1"
                         TItemValue="Guid"
                         TValue="Guid"
                         Dense
                         Outlined
                         HideDetails="true"
                         TItem="(Guid, string)"/>
        </MCol>
        <MCol Cols="12">
            <Editor ApiKey="ci3b169hzg64kvofmshgj2886wybbdxpzsvgrdpto65ke50w"
                    Field="() => _options.Content"
                    @bind-Value="_options.Content"/>
        </MCol>
        @if (_options.Labels is not null && _options.Labels.Count > 0)
        {
            <MCol Cols="12">
                <MChipGroup ActiveClass="primary--text" Column>
                    @foreach (var label in _options.Labels)
                    {
                        <MChip>@label</MChip>
                    }
                </MChipGroup>
            </MCol>
        }
        <MCol Cols="8">
            <MTextField TValue="string"
                        Dense
                        Outlined
                        Label="标签信息"
                        @bind-Value="_label"
                        HideDetails="true"
                        Clearable/>
        </MCol>
        <MCol Cols="4">
            <MButton Rounded Color="success" OnClick="AddLabel">
                <MIcon Left>mdi-pencil</MIcon>
                添加标签
            </MButton>
        </MCol>
        <MCol Cols="12">
            <MSwitch @bind-Value="_options.IsShow"
                     Class="mt-0"
                     Label="@($"{(_options.IsShow ? "仅自己可见" : "全部可见")}")">
            </MSwitch>
        </MCol>
    </MRow>
</FormModal>