@page "/blogs"
@layout BlogFrontLayout
@inherits BlogFrontComponentBase
@using TinyMCE.Blazor
@using MASA.Framework.Admin.Contracts.Blogs.BlogAdvertisingPictures.Enums

<MRow NoGutters>
    <MCol Cols="2">

    </MCol>
    <MCol Cols="7" Class="ml-6">

        <MCard Class="mx-auto mt-5">
            <MChipGroup
                Class="ml-5"
                Value="_searchOptions.TypeId.ToString()"
                Column
                ValueChanged="SelectedChipChanged"
                Mandatory>

                @foreach (var type in _typeList)
                {
                    <MChip Value="type.Item1.ToString()"
                           Filter
                           Outlined>
                        @type.Item2
                    </MChip>
                }
            </MChipGroup>
        </MCard>

        <MCard Class="mx-auto mt-5">
            <MTabsItems>
                <MTabItem>
                    <MCard Flat>
                        <MRow>
                            <MCol Cols="10">
                                <MCardText>
                                    <h5>最新博文</h5>
                                </MCardText>
                            </MCol>
                            <MSpacer></MSpacer>
                            <MCol Cols="2" Class="mt-5">
                                <MButton Color="primary" OnClick="ToWrite">写文章</MButton>
                            </MCol>
                        </MRow>
                    </MCard>
                </MTabItem>
            </MTabsItems>

            <MDivider></MDivider>

            @if (Ad.Any())
            {
                <MWindow ShowArrows Class="mx-auto mt-2 mb-2 ml-5 mr-5">
                    <ChildContent>
                        @foreach (var item in Ad.FindAll(ad => ad.Type == BlogAdvertisingPicturesTypes.Home))
                        {
                            <MWindowItem>
                                <MCard Color="grey" Height="100">
                                    <MImage Height="100" Width="@("100%")" Src="@item.Pic"></MImage>
                                </MCard>
                            </MWindowItem>
                        }
                    </ChildContent>
                </MWindow>
            }

            @if (Blogs.Data is not null)
            {
                @foreach (var blog in Blogs.Data)
                {
                    <MCard OnClick="() => HrefDetailPage(blog.Id)">
                        <MCardTitle>@blog.Title</MCardTitle>
                        <MCardText> @($"{(blog.Content.Length > 50 ? blog.Content.Substring(0, 50) : blog.Content)}") </MCardText>
                        <MCardActions>
                            <p>
                                @* <MAvatar Color="primary" Size="56">
                            <span class="white--text">@blog.typeName</span>
                        </MAvatar>*@
                                <span>@blog.ReleaseTime.ToString("yyyy-MM-dd HH:mm")</span>
                                @* <span>【@blog.CreatorUserId】</span>*@
                            </p>
                        </MCardActions>
                    </MCard>
                    <MDivider></MDivider>
                }
            }
            <div class="text-center">
                <MContainer>
                    <MRow Justify="JustifyTypes.Center">
                        <MCol Cols="8">
                            <MContainer Class="max-width">
                                <MPagination @bind-Value="@Blogs.Page" Class="my-4" Length=@_pageCount></MPagination>
                            </MContainer>
                        </MCol>
                    </MRow>
                </MContainer>
            </div>
        </MCard>
    </MCol>
    <MCol Cols="2">
        <MCard Class="mx-auto mt-5 ml-10">
            <MTabsItems>
                <MTabItem>
                    <MCard Flat>
                        <MRow>
                            <MCol Cols="10">
                                <MCardText>
                                    <h5>推荐标签</h5>
                                </MCardText>
                            </MCol>
                        </MRow>
                    </MCard>
                </MTabItem>
            </MTabsItems>

            <div class="pa-4">
                <MChipGroup ActiveClass="primary--text"
                            Column>
                    @foreach (var type in _typeList)
                    {
                        <MChip>
                            @type.Item2
                        </MChip>
                    }
                </MChipGroup>
            </div>

        </MCard>
        <MCard Class="mx-auto mt-5 ml-10 pb-3">
            <MTabsItems>
                <MTabItem>
                    <MCard Flat>
                        <MRow>
                            <MCol Cols="10">
                                <MCardText>
                                    <h5>推荐广告</h5>
                                </MCardText>
                            </MCol>
                        </MRow>
                    </MCard>
                </MTabItem>
            </MTabsItems>
            @if (Ad.Any())
            {
                <MWindow ShowArrows Class="mx-auto mt-2 mb-2 ml-5 mr-5 mb-5">
                    <ChildContent>
                        @foreach (var item in Ad.FindAll(ad => ad.Type == BlogAdvertisingPicturesTypes.HomeLowerRight))
                        {
                            <MWindowItem>
                                <MCard Color="grey" Height="100">
                                    <MImage Height="100" Width="@("100%")" Src="@item.Pic"></MImage>
                                </MCard>
                            </MWindowItem>
                        }
                    </ChildContent>
                </MWindow>
            }
        </MCard>
    </MCol>
</MRow>


<FormModal Visible="_showWrite"
           Title="文章"
           Width="1000"
           OnCancel="Cancel"
           OnOk="SubmitBlog"
           Model="_options">
    <MRow>
        <MCol Cols="12">
            <MTextField TValue="string" Dense Outlined HideDetails="@("auto")"
                        Label="标题" Clearable
                        @bind-Value="_options.Title"/>
        </MCol>
        <MCol Cols="12">
            <MSelect Label="类别"
                     @bind-Value="_options.TypeId"
                     Items="_typeList"
                     ItemText="x => x.Item2"
                     ItemValue="x => x.Item1"
                     TItemValue="Guid"
                     TValue="Guid"
                     Dense
                     Outlined
                     HideDetails="true"
                     TItem="(Guid, string)"/>
        </MCol>
        <MCol Cols="12">
            <Editor ApiKey="ci3b169hzg64kvofmshgj2886wybbdxpzsvgrdpto65ke50w"
                    Field="() => _options.Content"
                    @bind-Value="_options.Content"/>
        </MCol>
        @if (_options.Labels is not null && _options.Labels.Count > 0)
        {
            <MCol Cols="12">
                <MChipGroup ActiveClass="primary--text" Column>
                    @foreach (var label in _options.Labels)
                    {
                        <MChip>@label</MChip>
                    }
                </MChipGroup>
            </MCol>
        }
        <MCol Cols="8">
            <MTextField TValue="string"
                        Dense
                        Outlined
                        Label="标签信息"
                        @bind-Value="_label"
                        HideDetails="true"
                        Clearable/>
        </MCol>
        <MCol Cols="4">
            <MButton Rounded Color="success" OnClick="AddLabel">
                <MIcon Left>mdi-pencil</MIcon>
                添加标签
            </MButton>
        </MCol>
        <MCol Cols="12">
            <MSwitch @bind-Value="_options.IsShow"
                     Class="mt-0"
                     Label="@($"{(_options.IsShow ? "仅自己可见" : "全部可见")}")">
            </MSwitch>
        </MCol>
    </MRow>
</FormModal>