@page "/user/view/{Id}"
@inherits ComponentBase

<MCard Height="200" class="pt-2 pb-2">
    <MCardText>
        <MRow>
            <MCol Cols="@("auto")">
                <div style="width:300px;" class="text-center">
                    @if (string.IsNullOrEmpty(_userDetail.Cover))
                    {
                        <MAvatar Size="120">
                            <span class="@($"text-h3")">U</span>
                        </MAvatar>
                    }
                    else
                    {
                        <MAvatar Size="120">
                            <MImage Contain Src="@_userDetail.Cover" />
                        </MAvatar>
                    }
                    <h5 class="mt-1">@_userDetail.Account</h5>
                    <span class="mt-1 text-caption">@_userDetail.Email</span>
                </div>
            </MCol>
            <MDivider Vertical />
            <MCol class="ml-3 d-flex flex-column">
                <div class="mb-3 d-flex justify-space-between">
                    <span class="text-body2 neutral-lighten-1--text"><MIcon Small class="mr-2" Color="neutral-lighten-1">mdi-account-outline</MIcon>Name</span>
                    <span class="text-caption">@_userDetail.Name</span>
                </div>
                <div class="mb-3 d-flex justify-space-between">
                    <span class="text-body2 neutral-lighten-1--text"><MIcon Small class="mr-2" Color="neutral-lighten-1">mdi-check</MIcon>State</span>
                    <span class="text-caption">@_userDetail.State</span>
                </div>
                <div class="mb-3 d-flex justify-space-between">
                    <span class="text-body2 neutral-lighten-1--text"><MIcon Small class="mr-2" Color="neutral-lighten-1">mdi-alarm-check</MIcon>LastLoginTime</span>
                    <span class="text-caption">@_userDetail.LastLoginTime.ToString("yyyy-MM-dd HH:mm:ss")</span>
                </div>
                <div class="flex-grow-1 d-flex align-end">
                    <MButton MinWidth="100" class="primary rounded-pill">Edit</MButton>
                    <MButton Outlined MinWidth="100" Color="red" class="ml-6 rounded-pill">Delete</MButton>
                </div>
            </MCol>
        </MRow>
    </MCardText>
</MCard>
<MCard class="mt-6" Color="transparent">
    <MTabs @bind-Value="_tab" BackgroundColor="transparent" Grow SliderColor="primary">
        <MTab>用户信息</MTab>
        <MTab>权限信息</MTab>
        <MTab>访问记录</MTab>
    </MTabs>
    <MTabsItems Value="@_tab">
        <MTabItem>
            <MCard Flat>
                <MCardTitle>
                    基本信息
                </MCardTitle>
                <MDivider />
                <MCardText>
                    <MRow>
                        <MCol Md="3">
                            <Masa.Framework.Admin.RCL.RBAC.Pages.User.Components.DataDisplayComponent Subtitle="用户 ID" Title="@_userDetail.Id.ToString()" />
                        </MCol>
                        <MCol Md="3">
                            <Masa.Framework.Admin.RCL.RBAC.Pages.User.Components.DataDisplayComponent Subtitle="账号" Title="@_userDetail.Account" />
                        </MCol>
                        <MCol Md="3">
                            <Masa.Framework.Admin.RCL.RBAC.Pages.User.Components.DataDisplayComponent Subtitle="姓名" Title="@_userDetail.Name" />
                        </MCol>
                        <MCol Md="3">
                            <Masa.Framework.Admin.RCL.RBAC.Pages.User.Components.DataDisplayComponent Subtitle="邮箱" Title="@_userDetail.Email" />
                        </MCol>
                        <MCol Md="3">
                            <Masa.Framework.Admin.RCL.RBAC.Pages.User.Components.DataDisplayComponent Subtitle="状态" Title="@(((State)_userDetail.State).ToString())" />
                        </MCol>
                        <MCol Md="3">
                            <Masa.Framework.Admin.RCL.RBAC.Pages.User.Components.DataDisplayComponent Subtitle="最后登录时间" Title="@_userDetail.LastLoginTime.ToString("yyyy-MM-dd HH:mm:ss")" />
                        </MCol>
                        <MCol Md="3">
                            <Masa.Framework.Admin.RCL.RBAC.Pages.User.Components.DataDisplayComponent Subtitle="最后更新时间" Title="@_userDetail.LastUpdateTime.ToString("yyyy-MM-dd HH:mm:ss")" />
                        </MCol>
                        <MCol Md="3">
                            <Masa.Framework.Admin.RCL.RBAC.Pages.User.Components.DataDisplayComponent Subtitle="注册时间" Title="@_userDetail.CreationTime.ToString("yyyy-MM-dd HH:mm:ss")" />
                        </MCol>
                    </MRow>
                </MCardText>
            </MCard>
            <MCard class="mt-6">
                <MCardTitle>
                    所属分组
                    <MSpacer />
                    <MButton Text>
                        <MIcon Left>mdi-plus-circle-outline</MIcon>
                        添加
                    </MButton>
                </MCardTitle>
                <MCardText>
                    <MDataTable Headers="_userGroupHeaders" TItem="UserGroup" HideDefaultFooter Class="user ml-2 table-border-none">
                        <HeaderColContent Context="header">
                            <span class="text-subtitle">@header.Text</span>
                        </HeaderColContent>
                        <ItemColContent>
                            @switch (context.Header.Value)
                            {
                                case nameof(UserItemResponse.Id):
                                    <span>移除此分组</span>
                                    break;
                                default:
                                    @context.Value
                                    break;
                            }
                        </ItemColContent>
                    </MDataTable>
                </MCardText>
            </MCard>
            <MCard class="mt-6" Flat>
                <MCardTitle>
                    原始 JSON 数据
                </MCardTitle>
                <MDivider />
                <MCardText>
                    <Masa.Framework.Admin.RCL.RBAC.Pages.User.Components.JsonEditor Disabled="true" Value="@JsonSerializer.Serialize(_userDetail)"/>
                </MCardText>
            </MCard>
        </MTabItem>
        <MTabItem>
            <MCard Flat>
                <MCardTitle>
                    用户角色
                    <MSpacer />
                    <MButton Text>
                        <MIcon Left>mdi-plus-circle-outline</MIcon>
                        添加
                    </MButton>
                </MCardTitle>
                <MDivider />
                <MCardText>
                    <MDataTable Headers="_roleItemHeaders" TItem="RoleItemResponse" HideDefaultFooter Class="user ml-2 table-border-none">
                        <HeaderColContent Context="header">
                            <span class="text-subtitle">@header.Text</span>
                        </HeaderColContent>
                        <ItemColContent>
                            @switch (context.Header.Value)
                            {
                                case nameof(RoleItemResponse.Id):
                                    <span>详情</span>
                                    <span>撤销角色</span>
                                    break;
                                default:
                                    @context.Value
                                    break;
                            }
                        </ItemColContent>
                    </MDataTable>
                </MCardText>
            </MCard>
        </MTabItem>
        <MTabItem>
            <MCard Flat>
                <MCardTitle>
                    访问记录
                </MCardTitle>
                <MDivider />
                <MCardText>3</MCardText>
            </MCard>
            <MCard class="mt-6" Flat>
                <MCardTitle>
                    位置
                </MCardTitle>
                <MDivider />
                <MCardText>3</MCardText>
            </MCard>
        </MTabItem>
    </MTabsItems>
</MCard>