@page "/org/index"
@inherits AdminCompontentBase

<MCard>
    <MCardTitle class="text-h5">
        部门
        <MSpacer />
        <MButton Text OnClick='()=>OpenAddDialog(Guid.Empty,"")'>
            <MIcon Left>mdi-plus-circle-outline</MIcon>
            @T("Add")
        </MButton>
    </MCardTitle>
    <MDivider />
    <MRow Class="pa-4"
          Justify="JustifyTypes.SpaceBetween">
        <MCol Cols="5">
            <MTreeview @bind-Active="_active"
                       Items="_departments"
                       LoadChildren="LoadDepartUser"
                       Activatable
                       OpenOnClick
                       ItemText="r=>r.Name"
                       ItemKey="r=>r.Id"
                       ItemChildren="r=>r.Children">
                <PrependContent>
                    @if (context.Item.Children == null)
                    {
                        <MIcon>
                            mdi-account
                        </MIcon>
                    }
                </PrependContent>
                <LabelContent>
                    <div class="d-flex justify-space-between">
                        <span>@context.Item.Name</span>
                        <MMenu Right Bottom class="mr-2">
                            <ActivatorContent Context="activatorContext">
                                <MButton Icon @attributes="@activatorContext.Attrs">
                                    <MIcon Small>fas fa-ellipsis-v</MIcon>
                                </MButton>
                            </ActivatorContent>
                            <ChildContent>
                                <MList>
                                    <MListItem OnClick="()=>OpenAddDialog(context.Item.Id,context.Item.Name)">
                                        <MIcon Small>mdi-plus-circle-outline</MIcon>
                                        <MListItemTitle Class="ml-2"> 添加下级部门 </MListItemTitle>
                                    </MListItem>
                                    <MListItem>
                                        <MIcon Small>mdi-pencil-outline</MIcon>
                                        <MListItemTitle Class="ml-2"> 编辑部门 </MListItemTitle>
                                    </MListItem>
                                    <MListItem>
                                        <MIcon Small>mdi-trash-can-outline</MIcon>
                                        <MListItemTitle Class="ml-2"> 删除部门 </MListItemTitle>
                                    </MListItem>
                                </MList>
                            </ChildContent>
                        </MMenu>
                    </div>
                </LabelContent>
            </MTreeview>
        </MCol>
        <MDivider Vertical></MDivider>
        <MCol>
            <MRow>
                <span>@_currentDepartment.Name</span>
                <span class="ml-2">人数：@_pageData.CurrentCount</span>
                <MSpacer/>
                <MButton class="mr-2" Disabled>移除成员</MButton>
                <MButton Disabled="_currentDepartment.Id==Guid.Empty" OnClick="OpenDepartmentUserDialog">添加成员</MButton>
            </MRow>
            <MDataTable Headers="_headers" Items="_pageData.PageData" TItem="UserItemResponse" ItemsPerPage="_pageData.PageSize" HideDefaultFooter Class="user ml-2 table-border-none">
                <HeaderColContent Context="header">
                    <span class="text-subtitle">@header.Text</span>
                </HeaderColContent>
                <ItemColContent>
                    @switch (context.Header.Value)
                    {
                        case nameof(UserItemResponse.Gender):
                            var genderText = "";
                            if (context.Item.Gender.HasValue)
                            {
                                if (context.Item.Gender.Value)
                                {
                                    genderText = "男";
                                }
                                else
                                {
                                    genderText = "女";
                                }
                            }
                            else
                            {
                                genderText = "未知";
                            }
                            <span>@genderText</span>
                            break;
                        case nameof(UserItemResponse.State):
                            @if (context.Item.State == (int)State.Enable)
                            {
                                <MChip Color="green" TextColor="white" Ripple="false">
                                    <span>@State.Enable.ToString()</span>
                                </MChip>
                            }
                            else
                            {
                                <MChip Color="gray" Ripple="false">
                                    <span>@State.Disabled.ToString()</span>
                                </MChip>
                            }
                            break;
                        case "Action":
                            <MMenu Right Bottom>
                                <ActivatorContent Context="activatorContext">
                                    <MButton Icon @attributes="@activatorContext.Attrs">
                                        <MIcon XSmall>fas fa-ellipsis-v</MIcon>
                                    </MButton>
                                </ActivatorContent>
                                <ChildContent>
                                    <MList>
                                        <MListItem>
                                            <MIcon Small>fas fa-user-tie</MIcon>
                                            <MListItemTitle Class="ml-2"> Details </MListItemTitle>
                                        </MListItem>
                                        <MListItem>
                                            <MIcon Small>far fa-trash-alt</MIcon>
                                            <MListItemTitle Class="ml-2"> Delete </MListItemTitle>
                                        </MListItem>
                                    </MList>
                                </ChildContent>
                            </MMenu>
                            break;
                        default:
                            @context.Value
                            break;
                    }
                </ItemColContent>
            </MDataTable>
            <div class="d-flex">
                <div class="mr-auto pt-3 text-btn neutral-lighten-1--text">Showing @((_pageData.PageIndex-1)*_pageData.PageSize+1) to @(_pageData.PageIndex*_pageData.PageSize) of @_pageData.CurrentCount entries</div>
                @if (_pageData.PageCount > 0)
                {
                    <MPagination @bind-Value="_pageData.PageIndex" Color="primary" Circle Length=@_pageData.PageCount></MPagination>
                }
            </div>
        </MCol>
    </MRow>
</MCard>

<MDialog @bind-Value="_addOrgDialog" Persistent Width="500">
    <ChildContent>
        <MCard class="pa-6">
            <MCardTitle class="pa-0 mb-2">
                部门
                <MSpacer></MSpacer>
                <MButton Icon OnClick="() => _addOrgDialog = false">
                    <MIcon>mdi-close</MIcon>
                </MButton>
            </MCardTitle>
            <MCardText class="pt-5">
                @if (_createDepartment.ParentId != Guid.Empty)
                {
                    <MTextField @bind-Value="_createDepartment.ParentName" Disabled Class="mb-6" Label="所属部门" HideDetails="@("auto")" Dense Outlined />
                }
                <MTextField @bind-Value="_createDepartment.Name" Class="mb-6" Label="部门名称" HideDetails="@("auto")" Dense Outlined />
                <MTextField @bind-Value="_createDepartment.Code" Class="mb-6" Label="部门标识" HideDetails="@("auto")" Dense Outlined />
                <MTextField @bind-Value="_createDepartment.Describtion" Class="mb-6" Label="部门描述" HideDetails="@("auto")" Dense Outlined />
            </MCardText>
            <MDivider />
            <MCardActions class="mt-2 d-flex justify-end">
                <MButton Color="primary" Width="100" class="rounded-pill" OnClick="() => _addOrgDialog = false">
                    取消
                </MButton>
                <MButton Color="primary" Width="100" class="rounded-pill" OnClick="AddDepartment">
                    保存
                </MButton>
            </MCardActions>
        </MCard>
    </ChildContent>
</MDialog>

<MDialog @bind-Value="_addDepartmentUserDialog" Persistent Width="500">
    <ChildContent>
        <MCard class="pa-6">
            <MCardTitle class="pa-0 mb-2">
                添加成员
                <MSpacer></MSpacer>
                <MButton Icon OnClick="() => _addDepartmentUserDialog = false">
                    <MIcon>mdi-close</MIcon>
                </MButton>
            </MCardTitle>
            <MCardText class="pt-5">

            </MCardText>
            <MDivider />
            <MCardActions class="mt-2 d-flex justify-end">
                <MButton Color="primary" Width="100" class="rounded-pill" OnClick="() => _addDepartmentUserDialog = false">
                    取消
                </MButton>
                <MButton Color="primary" Width="100" class="rounded-pill">
                    保存
                </MButton>
            </MCardActions>
        </MCard>
    </ChildContent>
</MDialog>