@page "/role/details"
@inherits AdminCompontentBase
@inject NavigationManager NavigationManager

<MCard>
    <MCardText>
        <div class="d-flex block-center mt-3">
            <MAvatar Size="120">
                @*<MIcon></MIcon>*@
                12
            </MAvatar>
            <div Class="ml-6">
                <h5 class="mb-6">@RolePage.CurrentData.Name</h5>
                <span>@T("A role is a logical collection. You can authorize a role to perform certain operations, and then grant the role to a user, who will inherit all the permissions in the role.")</span>
            </div>
        </div>
    </MCardText>
</MCard>

<MCard Class="mt-4">
    <MCardText>
        <div class="block-between">
            <span class="text-btn neutral-lighten-1--text">@T("Basic Information")</span>
            <span class="hover-pointer" style="color:blue">@T("Save")</span>
        </div>
    </MCardText>

    <MDivider />

    <MCardText>
        <MRow>
            <MCol>
                <MTextField @bind-Value="RolePage.CurrentData.Name" Class="mb-6" Label="@T("Role.Name")" HideDetails="@("auto")" Outlined />
            </MCol>
            <MCol>
                <MTextField @bind-Value="RolePage.CurrentData.Number" Class="mb-6" Label="@T("Role.Number")" HideDetails="@("auto")" Outlined />
            </MCol>
        </MRow>
        <MRow>
            <MCol>
                <MRadioGroup @bind-Value="RolePage.CurrentData.State" Label="@T("State")" Row Class="mb-6">
                    <LabelContent>
                        <div class="text-btn">@T("State")：</div>
                    </LabelContent>
                    <ChildContent>
                        <MRadio Label="@T(State.Enable.ToString())" Value="State.Enable" />
                        <MRadio Label="@T(State.Disabled.ToString())" Value="State.Disabled" />
                    </ChildContent>
                </MRadioGroup>
            </MCol>
            <MCol>
                <MTextarea @bind-Value="RolePage.CurrentData.Describe" Class="mb-6" Label="@T("Describe")" HideDetails="@("auto")" Outlined />
            </MCol>
        </MRow>
    </MCardText>
</MCard>

<MCard Class="mt-4">
    <MCardText>
        <div class="block-between">
            <span class="text-btn neutral-lighten-1--text">@T("Authorized user")</span>
            <span class="hover-pointer" style="color:blue">@T("Add authorization")</span>
        </div>
    </MCardText>

    <MDivider />

    <MCardText>

    </MCardText>
</MCard>


<MCard Class="mt-4">
    <MCardText>
        <div class="block-between">
            <span class="text-btn neutral-lighten-1--text">@T("Authorized Rules")</span>
            <span class="hover-pointer" style="color:blue">@T("Add authorization")</span>
        </div>
    </MCardText>

    <MDivider />

    <MCardText>
        @foreach (var authorizeItem in RolePage.AuthorizeDatas)
        {
            <MCol Md=6 Sm=12 Class="d-flex">
                <p></p>
            </MCol>
        }
    </MCardText>
</MCard>

@code {
    [Inject]
    public RolePage RolePage { get; set; } = default!;

    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender)
        {
            if (RolePage.CurrentData.Id == Guid.Empty) NavigationManager.NavigateTo("/permission");
        }
    }

    //protected override async Task OnInitializedAsync()
    //{
    //    await Page.QueryAuthorizeItemsAsync();
    //}
}
