@page "/menu/newList"
@inherits AdminCompontentBase

<MRow>
    <MCol Md=3>
        <MList Nav Dense Class="pa-0">
            @foreach (var nav in Page.MenuNavs)
            {
                @RenderMenuNavs(nav)
                ;
            }
        </MList>
    </MCol>
    <MCol Md=9>
        <MRow>
            <MCol>

            </MCol>
            <MCol>

            </MCol>
        </MRow>
        <MRow>
            <MCol>

            </MCol>
            <MCol>

            </MCol>
        </MRow>
        <MRow>
            <MCol>

            </MCol>
            <MCol>

            </MCol>
        </MRow>
    </MCol>
</MRow>

@code {

    [Inject]
    public MenuPage Page { get; set; } = default!;

    protected override async Task OnInitializedAsync()
    {
        RegisterPage(Page);
        await Page.GetAllMenus();
    }

    private RenderFragment<string> ChatMessageDisplay = message => __builder =>
    {
        <div class="chat-message">
            <span class="author"></span>
            <span class="text"></span>
        </div>
    };

    private static RenderFragment<MenuNav> RenderMenuNavs = nav => __builder =>
    {
        if (nav.Children is null)
        {
            if (nav.Icon is null)
            {
                <MBorder Value=false Offset Width=4 Class="rounded-r-1" Border="Borders.Right">
                    <MListItem Ripple=false ActiveClass="fill-lighten-1" Link Href="@nav.Href">
                        <ItemContent>
                            <MListItemContent>
                                <div class="text-truncate white-space:nowrap @(context.Active?"text-subtitle2":"text-btn neutral-lighten-2--text")">nav.Name</div>
                            </MListItemContent>
                        </ItemContent>
                    </MListItem>
                </MBorder>
            }
            else
            {
                <MBorder Value=false Offset Width=4 Class="rounded-r-1" Border="Borders.Right">
                    <MListItem Ripple=false Class="mb-4" ActiveClass="fill-lighten-1" Href="@nav.Href">
                        <ItemContent>
                            <MListItemIcon>
                                <MIcon Color="@(context.Active?"primary":"neutral-lighten-2")" Size=20>@nav.Icon</MIcon>
                            </MListItemIcon>
                            <MListItemContent>
                                <div style="margin-left:6.5px;" class="text-truncate white-space:nowrap @(context.Active?"text-subtitle":"text-body neutral-lighten-2--text")">@nav.Name</div>
                            </MListItemContent>
                        </ItemContent>
                    </MListItem>
                </MBorder>
            }
        }
        else
        {
            <MListGroup Class="mb-4" PrependIcon="@nav.Icon" NoAction ActiveClass="primaryText" AppendIcon="M8.33398 10.3335L12.5007 14.5002L16.6673 10.3335H8.33398Z">
                <ActivatorContent>
                    <MListItemContent>
                        <div style="margin-left:6.5px;" class="text-truncate white-space:nowrap">@nav.Name</div>
                    </MListItemContent>
                </ActivatorContent>
                <ChildContent>
                    @foreach (var navChild in nav.Children)
                    {
                        @RenderMenuNavs(navChild);
                    }
                </ChildContent>
            </MListGroup>
        }
    };
}