@page "/blogs/info/{BlogInfoId:guid}"
@layout BlogFrontLayout
@inherits BlogFrontComponentBase
@using TinyMCE.Blazor
@using MASA.Framework.Admin.Contracts.Blogs.BlogAdvertisingPictures.Enums

<MRow NoGutters>
    <MCol Cols="2"></MCol>
    <MCol Cols="7" Class="ml-6">
        <MCard Class="mx-auto mt-5">
            <MCardTitle>
                <h4>@_blogInfo.Title</h4>
                <MSpacer />
                <MButton Color="primary" Text OnClick="ToReport">举报</MButton>
            </MCardTitle>

            <MDivider />

            <MCardText>
                @if (Ad.Any())
                {
                    <MWindow ShowArrows Class="mx-auto mt-2 mb-2 ml-5 mr-5">
                        <ChildContent>
                            @foreach (var item in Ad.FindAll(ad => ad.Type == BlogAdvertisingPicturesTypes.Details))
                            {
                                <MWindowItem>
                                    <MCard Color="grey" Height="100">
                                        <MImage Height="100" Width="@("100%")" Src="@item.Pic"></MImage>
                                    </MCard>
                                </MWindowItem>
                            }
                        </ChildContent>
                    </MWindow>
                }

                @((MarkupString)_blogInfo.Content)
            </MCardText>

            <MCardActions>
                <MSpacer />
                <span class="d-flex align-items-center mr-4">
                    <MIcon Class="mr-1">mdi-comment-processing</MIcon>
                    <span>@_blogInfo.CommentCount</span>
                </span>
                <span class="d-flex align-items-center mr-4">
                    <MButton Class="mr-1" Color="@(_blogInfo.IsApproved ? "red" : "")" Icon OnClick="ToApprove">
                        <MIcon>mdi-thumb-up</MIcon>
                    </MButton>
                    <span>@_blogInfo.ApprovedCount</span>
                </span>
                <span class="d-flex align-items-center mr-4">
                    <MIcon Class="mr-1">mdi-eye</MIcon>
                    <span>@_blogInfo.Visits</span>
                </span>
            </MCardActions>
        </MCard>

        @if (_blogCommentInfoList.TotalCount > 0)
        {
            <MCard Class="mx-auto mt-3">
                <MCardTitle>评论列表</MCardTitle>
                <MCardText>
                    <MList Dense>
                        @foreach (var comment in _blogCommentInfoList.Data)
                        {
                            <MListItem TwoLine>
                                <MListItemContent>
                                    <MListItemTitle>@comment.CreationTime.ToString("yyyy-MM-dd HH:mm")</MListItemTitle>
                                    <MListItemSubtitle>@comment.CommentContent</MListItemSubtitle>
                                </MListItemContent>
                            </MListItem>
                            @if (comment.ReplyInfo is not null && comment.ReplyInfo.CreationTime > DateTime.MinValue)
                            {
                                <MListItem TwoLine Class="pl-8" Style="margin-top:-16px">
                                    <MListItemContent>
                                        <MListItemTitle>@comment.ReplyInfo.CreationTime.ToString("yyyy-MM-dd HH:mm")</MListItemTitle>
                                        <MListItemSubtitle>@comment.ReplyInfo.CommentContent</MListItemSubtitle>
                                    </MListItemContent>
                                </MListItem>
                            }
                            else
                            {
                                <MExpansionPanels Flat>
                                    <MExpansionPanel @key="comment.Id">
                                        <MExpansionPanelHeader>
                                            回复
                                        </MExpansionPanelHeader>
                                        <MExpansionPanelContent>
                                            <MRow Dense>
                                                <MCol Cols=12>
                                                    <DefaultTextarea Autofocus Placeholder="请输入回复内容..."
                                                         @bind-Value="_reportComment">
                                                    </DefaultTextarea>
                                                </MCol>
                                                <MCol Cols=12 Class="d-flex">
                                                    <MSpacer />
                                                    <MButton Color="primary"
                                                 Small
                                                 Text
                                                 Loading="_reportCommentLoading"
                                                 OnClick="() => ToReportComment(comment.Id)">
                                                        确定
                                                    </MButton>
                                                </MCol>
                                            </MRow>
                                        </MExpansionPanelContent>
                                    </MExpansionPanel>
                                </MExpansionPanels>
                            }

                            <MDivider></MDivider>
                        }
                    </MList>
                </MCardText>
                <div class="text-center">
                    <MContainer>
                        <MRow Justify="JustifyTypes.Center">
                            <MCol Cols="8">
                                <MContainer Class="max-width">
                                    <MPagination @bind-Value="_page" Class="my-4" Length=@_pageCount></MPagination>
                                </MContainer>
                            </MCol>
                        </MRow>
                    </MContainer>
                </div>
            </MCard>
        }

        <MCard Class="mx-auto mt-3">
            <MCardTitle>发表评论</MCardTitle>
            <MCardText>
                <DefaultTextarea @bind-Value="_reportComment"
                                 Placeholder="请输入回复内容...">
                </DefaultTextarea>
            </MCardText>
            <MCardActions Style="padding:0 24px 16px 24px">
                <MSpacer></MSpacer>
                <MButton Color="primary"
                         Loading="_reportCommentLoading"
                         OnClick="() => ToReportComment()">发表评论</MButton>
            </MCardActions>
        </MCard>
    </MCol>
    <MCol Cols="2">
        @if (Ad.Any())
        {
            <MCard Class="mx-auto mt-5 ml-10 pb-3">
                <MTabsItems>
                    <MTabItem>
                        <MCard Flat>
                            <MRow>
                                <MCol Cols="10">
                                    <MCardText>
                                        <h5>推荐广告</h5>
                                    </MCardText>
                                </MCol>
                            </MRow>
                        </MCard>
                    </MTabItem>
                </MTabsItems>
                <MWindow ShowArrows Class="mx-auto mt-2 mb-2 ml-5 mr-5 mb-5">
                    <ChildContent>
                        @foreach (var item in Ad.FindAll(ad => ad.Type == BlogAdvertisingPicturesTypes.DetailsLowerRight))
                        {
                            <MWindowItem>
                                <MCard Color="grey" Height="100">
                                    <MImage Height="100" Width="@("100%")" Src="@item.Pic"></MImage>
                                </MCard>
                            </MWindowItem>
                        }
                    </ChildContent>
                </MWindow>
            </MCard>
        }
    </MCol>
</MRow>

<div style="float:right">
    <div class="el-backtop-scroll-top">
        <MButton class="mx-2" Fab Small Dark Color="primary" OnClick="ScrollTop">
            <MIcon>
                mdi-arrow-collapse-up
            </MIcon>
        </MButton>
    </div>
    <div class="el-backtop-scroll-report">
        <MButton class="mx-2" Fab Small Dark OnClick="ToReport">举报</MButton>
    </div>
    <div class="el-backtop-scroll-return">
        <MButton class="mx-2" Fab Small Dark Color="primary" OnClick="HrefArticlePage">
            <MIcon>
                mdi-arrow-u-left-top
            </MIcon>
        </MButton>
    </div>
</div>

<FormModal Visible="_showWrite"
           Title="举报"
           Width="1000"
           OnCancel="Cancel"
           OnOk="async()=>await SubmitReport()"
           Model="_createBlogReportModel">
    <MRow>
        <MCol Cols="12">
            <MTextField TValue="string" Dense Outlined HideDetails="@("auto")"
                        Label="标题" Readonly
                        @bind-Value="_createBlogReportModel.Title" />
        </MCol>
        <MCol Cols="12">
            <MRadioGroup @bind-Value="_createBlogReportModel.Reason" Row TValue=ReasonTypes>
                <LabelContent>
                    举报原因
                </LabelContent>
                <ChildContent>
                    @foreach (var item in Enum<ReasonTypes>.GetEnumObjectList<ReasonTypes>())
                    {
                        <MRadio Value="@item.Value" Label=@item.Name TValue="ReasonTypes"></MRadio>
                    }
                </ChildContent>
            </MRadioGroup>
        </MCol>
        <MCol Cols="12">
            <MTextField TValue="string" Dense Outlined HideDetails="@("auto")"
                        Label="链接" Readonly
                        @bind-Value="_createBlogReportModel.Connect" />
        </MCol>
        <MCol Cols="12">
            <MTextField TValue="string" Dense Outlined HideDetails="@("auto")"
                        Label="详细信息" Clearable
                        @bind-Value="_createBlogReportModel.Detail" />
        </MCol>
    </MRow>
</FormModal>