@page "/blog-admin/articledetail/{BlogInfoId:guid}"
@layout BlogFrontLayout
@inherits BlogFrontComponentBase
@using TinyMCE.Blazor

<MCard Width="1600" Class="mx-auto">
    <MTabsItems>
        <MTabItem>
            <MCard Flat>
                <MRow>
                    <MCol>
                        <MCardText><h5>@_blogInfo.title</h5></MCardText>
                    </MCol>
                    <MSpacer></MSpacer>
                </MRow>
            </MCard>
        </MTabItem>
    </MTabsItems>
    <MDivider></MDivider>
    <MCard>
        <MCardText>@((MarkupString)_blogInfo.content)</MCardText>
        <MCardActions>
            <p>
                <MIcon>mdi-comment-processing</MIcon> <span>@_blogInfo.commentCount</span>
                <MButton Icon OnClick="ToApprove"><MIcon>mdi-thumb-up</MIcon></MButton> <span>@_blogInfo.approvedCount</span>
                <MIcon>mdi-eye</MIcon> <span>@_blogInfo.visits</span>
            </p>
        </MCardActions>
    </MCard>
    <MDivider></MDivider>
    <MCard>
        <MRow Style="justify-content:center">
            @if (_blogInfo.state == StateTypes.ToBeReviewed)
            {
                <MButton Color="primary" OnClick="()=>AuditArticleAsync(_blogInfo)">审核</MButton>
            }
            <MButton Color="primary" OnClick="HrefArticlePage">返回</MButton>
        </MRow>
    </MCard>

</MCard>
<MRow>

    <div class="el-backtop-scroll-top">
        <MButton class="mx-2" Fab Small Dark Color="primary" OnClick="ScrollTop">
            <MIcon>
                mdi-arrow-collapse-up
            </MIcon>
        </MButton>
    </div>
    <div class="el-backtop-scroll-report">
        <MButton class="mx-2" Fab Small Dark>举报</MButton>
    </div>
</MRow>